version: 2.1

executors:
  golang:
    docker:
      - image: cimg/go:1.24
        environment:
          CSRF_TOKEN: 1234567890abcdef
          JWT_SECRET_KEY: AAAABBBBCCCCDDDD
          MONGO_HOST: 127.0.0.1
          MONGO_PORT: 27017
          MONGO_USER: root
          MONGO_PASS: example
      - image: mongo:latest
        environment:
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: example
  
commands:
  run_mongo:
    steps:
      - run:
          name: Wait for MongoDB
          command: dockerize -wait tcp://localhost:27017 -timeout 1m

  run_tests_chat:
    steps:
      - run:
          name: Run Chat Service Tests
          command: |
            cd ./app
            go test -v -cover ./...

jobs:
  test:
    executor: golang
    steps:
      - checkout
      - run_mongo
      - run_tests_chat

workflows:
  version: 2
  test_and_build:
    jobs:
      - test
